@model ResultUserViewModel
<h1 class="text-danger">Üye Silme Sayfası</h1>
<div class="card">
    <div class="card-header">
        @Model.UserName
    </div>
    <div class="card-body">
       

        <blockquote class="blockquote mb-0">
            <h3><span class="text-danger">@Model.UserId</span> Id numaralı <span class="text-danger"> @Model.UserName </span> kullanıcısı silinecektir!</h3>
        </blockquote>
        <div class="row mt-4">
                <input type="hidden" asp-for="@Model.UserId" />

        <a class="btn btn-info mr-2" href="/Admin/User/Index">Geri Al</a>
        <a href="/Admin/User/DeleteUser/@Model.UserId" class="btn btn-danger">Sil</a>
        </div>
        
    </div>
</div>