@model ProductViewModel
@{
    Layout = "_Layout";
}


<div>
    <p>
        <form action="/Home/DeleteProduct" method="post">
            <input type="hidden" asp-for="@Model.ProductId">
            @Model.ProductName isimli ürünü silmek istiyor musunuz?
            <button type="submit" class="btn btn-danger">Evet</button>
            <a href="/Home/Index" class="btn btn-primary">Hayır</a>
        </form>
    </p>
</div>
